<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pes.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <pes.Module.Properties.Settings>
            <setting name="pes_Module_th_go_rd_wservice_AuthenUserEoffice1"
                serializeAs="String">
                <value>http://wservice.rd.go.th/ServiceEoffice/AuthenUserEoffice1.asmx</value>
            </setting>
            <setting name="pes_Module_th_go_rd_wservice1_AuthenUserEofficebyID"
                serializeAs="String">
                <value>http://wservice.rd.go.th/ServiceEoffice/AuthenUserEofficebyID.asmx</value>
            </setting>
        </pes.Module.Properties.Settings>
    </applicationSettings>
</configuration>